.vs
Learning-and-Intresting-Tasks-CPP.vcxproj.user
Learning-and-Intresting-Tasks-CPP.sln
Learning-and-Intresting-Tasks-CPP.vcxproj
Learning-and-Intresting-Tasks-CPP.vcxproj.filters
source.cpp
x64
Learning.0eca361f